<div class="control-section">
  <div align="center">
    <ejs-chart
      #chart
      id="chartcontainer"
      [title]="title"
      enableCanvas="true"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      [tooltip]="tooltip"
      (load)="load($event)"
      (chartMouseClick)="onChartMouseClick($event)"
      [annotations]="annotations"
    >
      <e-series-collection>
        <e-series
          [dataSource]="data"
          type="Line"
          xName="x"
          yName="y"
          name="Germany"
          width="2"
          [marker]="marker"
        >
        </e-series>
        <e-series
          [dataSource]="data1"
          type="Line"
          xName="x"
          yName="y"
          name="England"
          width="2"
          [marker]="marker"
        >
        </e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
